services:
  qhana-plugin-runner:
    build: .
    image: qhana-plugin-runner
    depends_on:
      - redis
      - postgres
    ports:
      - "5005:8080"
    volumes:
      - instance:/app/instance
      - ./plugins:/app/plugins
    environment:
      CONCURRENCY: 2
      BROKER_URL: redis://redis:6379
      RESULT_BACKEND: redis://redis:6379
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://user:password@postgres:5432/default_db"
      CAMUNDA_API_URL: "http://host.docker.internal:8081/engine-rest"
      PLUGIN_RUNNER_URLS: "http://host.docker.internal:5005"
      WAIT_HOSTS: redis:6379, postgres:5432
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
  postgres:
    image: "postgres:latest"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: default_db
  postgres-registry:
    image: "postgres:latest"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: default_db
  muse-db:
    image: ghcr.io/ust-quantil/mini-muse:main
  worker:
    build: .
    image: qhana-plugin-runner
    depends_on:
      - qhana-plugin-runner
      - redis
    volumes:
      - instance:/app/instance
      - ./plugins:/app/plugins
    environment:
      CONTAINER_MODE: worker
      CONCURRENCY: 16
      BROKER_URL: redis://redis:6379
      RESULT_BACKEND: redis://redis:6379
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://user:password@postgres:5432/default_db"
      CAMUNDA_API_URL: "http://host.docker.internal:8081/engine-rest"
      PLUGIN_RUNNER_URLS: "http://host.docker.internal:5005"
      PERIODIC_SCHEDULER: "True"
      WAIT_HOSTS: redis:6379, postgres:5432, camunda:8080
      WAIT_TIMEOUT: 300
      WAIT_SLEEP_INTERVAL: 5
      PLUGIN_REGISTRY_URL: "http://registry:8080"
  backend:
    image: ghcr.io/ust-quantil/qhana-backend:main
    volumes:
      - experiments:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # remove the following line if you're running the plugin-runner and worker outside of docker
      QHANA_URL_MAPPING: '{"(?<=^|https?://)(localhost|host.docker.internal):5005": "qhana-plugin-runner:8080", "(?<=^|https?://)localhost": "host.docker.internal"}'

      # uncomment the following line if you're running the plugin-runner and worker outside of docker
      # QHANA_URL_MAPPING: '{"(?<=^|https?://)localhost": "host.docker.internal"}'

      QHANA_HOST: http://host.docker.internal:9090
    ports:
      - 9090:9090
  ui:
    image: ghcr.io/ust-quantil/qhana-ui:main
    ports:
      - 8080:8080
    environment:
      PLUGIN_REGISTRY_PROTOCOL: "http:"
      PLUGIN_REGISTRY_HOSTNAME: localhost
      PLUGIN_REGISTRY_PORT: 5006
      PLUGIN_REGISTRY_PATH: /api/
    extra_hosts:
      - "host.docker.internal:host-gateway"
  registry:
    image: ghcr.io/ust-quantil/qhana-plugin-registry:main
    ports:
      - "5006:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      WAIT_HOSTS: redis:6379, postgres-registry:5432
      BROKER_URL: redis://redis:6379
      RESULT_BACKEND: redis://redis:6379
      CELERY_QUEUE: "registry_queue"
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://user:password@postgres-registry:5432/default_db"
      INITIAL_PLUGIN_SEEDS: "http://localhost:5005"
      PRECONFIGURED_SERVICES: '[{"serviceId": "qhana-backend", "name": "Backend", "url": "http://localhost:9090"}]'
  registry-worker:
    image: ghcr.io/ust-quantil/qhana-plugin-registry:main
    ports:
      - "5007:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      WAIT_HOSTS: redis:6379, postgres-registry:5432
      CONTAINER_MODE: worker
      BROKER_URL: redis://redis:6379
      RESULT_BACKEND: redis://redis:6379
      CELERY_QUEUE: "registry_queue"
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://user:password@postgres-registry:5432/default_db"

      # remove the following two lines if you're running the plugin-runner and worker outside of docker
      URL_MAP_FROM_LOCALHOST: '{"(https?://)(localhost|host.docker.internal):5005": "\\1qhana-plugin-runner:8080"}'
      URL_MAP_TO_LOCALHOST: '{"(https?://)qhana-plugin-runner:8080": "\\1localhost:5005"}'

      # uncomment the following two lines if you're running the plugin runner and worker outside of docker
      # URL_MAP_FROM_LOCALHOST: '{"(https?://)(localhost|host.docker.internal):5005": "\\1host.docker.internal:5005"}'
      # URL_MAP_TO_LOCALHOST: '{"(https?://)host.docker.internal:5005": "\\1localhost:5005"}'

      PLUGIN_DISCOVERY_INTERVAL: 60
      PERIODIC_SCHEDULER: true
  camunda:
    image: ghcr.io/ust-quantil/docker-camunda-bpm-platform:next
    ports:
      - "8081:8080"
volumes:
  instance:
  experiments:
