{% extends "simple_template.html" %}

{{ super() }}

{% block script %}
<script>
    // Precomputed Kernel Stuff
    var train_kernel_url_dis = document.getElementById("train_kernel_url").parentNode.parentNode;
    var test_kernel_url_dis = document.getElementById("test_kernel_url").parentNode.parentNode;
    var train_points_url_dis = document.getElementById("train_points_url").parentNode.parentNode;
    var test_points_url_dis = document.getElementById("test_points_url").parentNode.parentNode;

    // Polynomial Kernel Stuff
    var degree_dis = document.getElementById("degree").parentNode.parentNode;

    // Quantum Kernel Stuff
    var data_maps_enum_dis = document.getElementById("data_maps_enum").parentNode.parentNode;
    var entanglement_pattern_dis = document.getElementById("entanglement_pattern").parentNode.parentNode;
    var paulis_dis = document.getElementById("paulis").parentNode.parentNode;
    var reps_dis = document.getElementById("reps").parentNode.parentNode;
    var shots_dis = document.getElementById("shots").parentNode.parentNode;
    var backend_dis = document.getElementById("backend").parentNode.parentNode;
    var ibmq_token_dis = document.getElementById("ibmq_token").parentNode.parentNode;
    var custom_backend_dis = document.getElementById("custom_backend").parentNode.parentNode;

    var kernel_enum_val = document.getElementById("kernel_enum");

    const backend_val = document.getElementById("backend");




    function backend_change() {
        ibmq_token_dis.style.display = "none";
        custom_backend_dis.style.display = "none";
        if ((backend_val.value.startsWith("ibmq")) || (backend_val.value === "aer_qasm_simulator")){
            ibmq_token_dis.style.display = "block";
        }
        else if (backend_val.value === "custom_ibmq") {
            ibmq_token_dis.style.display = "block";
            custom_backend_dis.style.display = "block";
        }
    }


    function kernel_change() {
        train_kernel_url_dis.style.display = 'none';
        test_kernel_url_dis.style.display = 'none';
        train_points_url_dis.style.display = 'block';
        test_points_url_dis.style.display = 'block';
        degree_dis.style.display = 'none';
        data_maps_enum_dis.style.display = 'none';
        entanglement_pattern_dis.style.display = 'none';
        paulis_dis.style.display = 'none';
        reps_dis.style.display = 'none';
        shots_dis.style.display = 'none';
        backend_dis.style.display = 'none';
        ibmq_token_dis.style.display = 'none';
        custom_backend_dis.style.display = 'none';

        if (kernel_enum_val.value === "precomputed") {
            train_kernel_url_dis.style.display = 'block';
            test_kernel_url_dis.style.display = 'block';
            train_points_url_dis.style.display = 'none';
            test_points_url_dis.style.display = 'none';
        }
        else if (kernel_enum_val.value === "poly") {
            degree_dis.style.display = 'block';
        }
        else if (
            kernel_enum_val.value === "z_kernel"
            || kernel_enum_val.value === "zz_kernel"
            || kernel_enum_val.value === "pauli_kernel"
        ) {
            backend_change();
            data_maps_enum_dis.style.display = 'block';
            entanglement_pattern_dis.style.display = 'block';
            reps_dis.style.display = 'block';
            shots_dis.style.display = 'block';
            backend_dis.style.display = 'block';

            if (kernel_enum_val.value === "pauli_kernel") {
                paulis_dis.style.display = 'block';
            }
            else if (kernel_enum_val.value === "z_kernel") {
                entanglement_pattern_dis.style.display = 'none';
            }
        }
    }

    kernel_change();
    backend_change();

    kernel_enum_val.addEventListener("change", kernel_change);
    backend_val.addEventListener("change", backend_change);
</script>
<script>
    const visualize_val = document.getElementById("visualize");

    const resolution_dis = document.getElementById("resolution").parentNode.parentNode;


    function visualize_change() {
        resolution_dis.style.display = "none";
        if (visualize_val.checked) {
            resolution_dis.style.display = "block";
        }
    }

    visualize_change();
    visualize_val.addEventListener("change", visualize_change);
</script>
{{ super() }}
{% endblock script %}
