{% extends "simple_template.html" %}

{% block head %}
{{ super() }}
<style>
    .qhana-data-preview {
        text-rendering: optimizeSpeed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        max-height: 750px;
        overflow: auto;
        background: transparent;
    }

    #spinner {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 6px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        border-top-color: #673ab7;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
{% endblock head %}

{% block content %}
<div class="qhana-microfrontend">
    <details id="visualization-options" open>
        <summary>Visualization Options</summary>
        {% call forms.render_form(target="microfrontend") %}
        {{ forms.render_fields(schema, values=values, errors=errors) }}
        <div class="qhana-form-buttons">
            {{ forms.submit("validate", target="microfrontend") }}
            {{ forms.submit("submit", action=process) }}
        </div>
        {% endcall %}
    </details>
</div>

<img id="circuit-image" class="qhana-data-preview">
<div class="container">
    <div id="spinner"></div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script>
    let currentUrl = null;

    function getUrl() {
        return document.querySelector('input[name=data]').value;
    }

    function onCircuitImageLoad() {
        const preview = document.querySelector('#circuit-image');
        preview.style.display = '';
        sendMessage({ type: "ui-resize", height: preview.height });
        document.querySelector('#spinner').style.display = 'none';
        document.querySelector('#visualization-options').removeAttribute('open');
    }

    function onCircuitImageError() {
        document.querySelector('#circuit-image').style.display = 'none';
        document.querySelector('#spinner').style.display = 'none';
        document.querySelector('#visualization-options').setAttribute('open', 'open');
    }

    function setupEventListeners() {
        const dataInput = document.querySelector('input[name=data]');
        dataInput.addEventListener("input", (event) => updatePreview());
        const circuitImage = document.querySelector('#circuit-image');
        circuitImage.addEventListener("load", (event) => onCircuitImageLoad());
        circuitImage.addEventListener("error", (event) => onCircuitImageError());
    }

    function updatePreview() {
        const circuitUrl = getUrl()
        if (circuitUrl === "" || circuitUrl === null) {
            onCircuitImageError();
            return;
        }
        if (currentUrl === circuitUrl) {
            return;
        }
        document.querySelector('#spinner').style.display = '';
        const preview = document.querySelector('#circuit-image');
        const url = "{{ get_circuit_image_url }}?data=" + circuitUrl;
        fetch(url).then(response => {
            if (response.status === 200) {
                preview.setAttribute("src", url);
                currentUrl = circuitUrl;
            } else {
                onCircuitImageError();
                if (response.status === 202) {
                    document.querySelector('#spinner').style.display = '';
                    setTimeout(updatePreview, 5000);
                }
            }
        }).catch(error => {
            console.log(error);
            onCircuitImageError();
        });
    }

    onCircuitImageError();
    setupEventListeners();
</script>
{% endblock script %}