{% extends "simple_template.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block script %}
    <script>
        var backend_value = document.getElementById("backend");

        var ibmq_token_vis = document.getElementById("ibmq_token").parentNode.parentNode;
        var custom_backend_vis = document.getElementById("custom_backend").parentNode.parentNode;


        function backend_change() {
            ibmq_token_vis.style.display = 'none';
            custom_backend_vis.style.display = 'none';
            if (backend_value.value.startsWith("ibmq") || backend_value.value === "aer_qasm_simulator") {
                ibmq_token_vis.style.display = 'block';
                custom_backend_vis.style.display = 'none';
            } else if (backend_value.value === "custom_ibmq") {
                ibmq_token_vis.style.display = 'block';
                custom_backend_vis.style.display = 'block';
            }
        }

        backend_change();

        backend_value.addEventListener("change", backend_change);
    </script>
    {{ super() }}
{% endblock script %}
