<!DOCTYPE html>
<html>
<head>
    {%- block head -%}
    <script defer src="/static/microfrontend.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{base_url}}//styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{'https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.css' | resource}}" media="screen" />
    {%- endblock head -%}
</head>

<body>
    {%- block titlebar -%}
    {%- if is_planqk -%}
    {% include 'titlebar-planqk.jinja2' %}
    {%- else -%}
    <div class="titlebar">
        <a class="home" href="{{base_url}}/index.html">Pattern Atlas</a>
    </div>
    {%- endif -%}
    {%- endblock titlebar -%}

    {%- block content -%}
    {%- endblock content -%}

    {%- block script -%}
    {%- endblock script -%}
    <script>
        if(window._qhana_microfrontend_state){
            window._qhana_microfrontend_state.targetHeight = "full";
	        window.notifyParentWindowOnHeightChange(null, "full");
        }
    </script>
</body>

</html>
