{% extends "simple_template.html" %}

{% block head %}
    {{ super() }}

    <style rel="stylesheet">
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown::before {
            position: relative;
            content: " \2193";
            top: 0px;
            right: 0px;
            height: 20px;
            width: 20px;
        }
        .btn {background-color:#e9e9ed;border-radius:5px;border: 1px solid #8f8f9d;padding-top:1px;padding-bottom:1px;padding-left:4px;padding-right:4px;margin-left:2px;margin-right:2px;user-select: none;font: calc(13px + 1px/3) DejaVu,Sans;color: black;}
        .btn:hover {background-color: #d0d0d7;}
    </style>
{% endblock head %}

{% block content %}
    {{ super() }}
{% endblock content %}

{% block script %}
    {{ super() }}

{% endblock script %}
