.qhana-microfrontend {
    padding: 0.5rem;
}

.qhana-form {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 45rem;
}

.qhana-form-field {
    margin-bottom: 0.5rem;
}

.qhana-form-label {
    display: block;
    font-weight: 600;
}

.qhana-form-input {
    padding: 0.3em;
    max-width: 25em;
    flex-grow: 1;
}

.qhana-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.qhana-error-message {
    margin-top: 0.2rem;
    margin-bottom: 0px;
    color: red;
}

.selected-file-name {
    overflow-wrap: break-word;
}

code.example {
    padding-block: 0.1rem;
    padding-inline: 0.2rem;
    margin-inline: 0.4em;
    background-color: blanchedalmond;
    color: #333;
}

.checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    stroke-width: 1;
    color: rgb(0, 247, 0);
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
}
