{% extends "simple_template.html" %}

{% block head %}
    {{ super() }}
    <style>
        ul.qhana-form-input {
            max-height: 150px;
            color: var(--text);
            background-color: var(--background);
            border: 2px solid var(--border-color, currentColor);
            border-radius: 5px;
            max-width: initial;
            box-sizing: border-box;
            padding-inline: 0.5rem;
            padding-block: 1.3ex;
            overflow: hidden auto;
            overflow-wrap: break-word;
            list-style-type: none;
            margin: 8px;
        }
    </style>
    <style>
        div.pandas_table {
            max-height: 200px;
            overflow: auto;
        }
    </style>
{% endblock head %}

{% block content %}
<div id="pandas_html" class="pandas_table">{{ pandas_html }}</div>
<datalist id="columns_datalist">
    {% for column in columns_list %}
        <option value="{{ column }}"></option>
    {% endfor %}
</datalist>
<div class="qhana-microfrontend">
    {% block help %}
    {% if help_text or example_values %}
    <details class="qhana-help">
        <summary>Help</summary>
        {% if help_text %}
        {% autoescape false %}
        {{ help_text | markdown }}
        {% endautoescape %}
        {% else %}
        <br>
        {% endif %}
        {% if example_values %}
            <a href="{{ example_values }}">Fill in example values.</a>
        {% endif %}
    </details>
    {% endif %}
    {% endblock help %}
    {% call forms.render_form(target="microfrontend") %}
        {{ forms.render_fields(schema, values=values, errors=errors) }}
        <div class="qhana-form-buttons">
            {{ forms.submit("validate", target="microfrontend") }}
            {{ forms.submit("add step", action=add_step) }}
            {{ forms.submit("done", action=process) }}
            {% if done %}
                {{ forms.submit("done", action=done) }}
            {% endif %}
            {% if not errors and valid %}
                <span class="qhana-input-description"> Validation successful!</span>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="15"
                     viewBox="0 0 122.881 89.842" enable-background="new 0 0 122.881 89.842">
                    <g>
                        <path fill="rgb(0, 247, 0)"
                              d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z"/>
                    </g>
                </svg>
            {% endif %}
        </div>
    {% endcall %}
</div>
{% endblock content %}

{% block script %}
    <script>
        const columns_and_rows_html = {{ columns_and_rows_html }};
        const preprocessing_enum_value = document.getElementById("preprocessing_enum");
        const axis_val = document.getElementById("axis");
        const subset_val = document.getElementById("subset");
        const by_val = document.getElementById("by");
        const column_val = document.getElementById("column");

        const axis_dis = axis_val.parentNode.parentNode;
        const threshold_dis = document.getElementById("threshold").parentNode.parentNode;
        const subset_dis = subset_val.parentNode.parentNode;
        const fill_value_dis = document.getElementById("fill_value").parentNode.parentNode;
        const keep_dis = document.getElementById("keep").parentNode.parentNode;
        const ignore_index_dis = document.getElementById("ignore_index").parentNode.parentNode;
        const by_dis = by_val.parentNode.parentNode;
        const ascending_dis = document.getElementById("ascending").parentNode.parentNode;
        const position_dis = document.getElementById("position").parentNode.parentNode;
        const characters_dis = document.getElementById("characters").parentNode.parentNode;
        const column_dis = column_val.parentNode.parentNode;
        const new_columns_dis = document.getElementById("new_columns").parentNode.parentNode;
        const remove_column_dis = document.getElementById("remove_column").parentNode.parentNode;
        const substring_dis = document.getElementById("substring").parentNode.parentNode;
        const new_str_dis = document.getElementById("new_str").parentNode.parentNode;
        const case_dis = document.getElementById("case").parentNode.parentNode;

        const qhana_buttons = document.getElementsByClassName("qhana-form-buttons")[0];


        function change_parameter(parameter, label, description, datalist) {
            for (var i = 0; i < parameter.childNodes.length; i++) {
                if (parameter.childNodes[i].className === "qhana-form-label" && label !== null) {
                    parameter.childNodes[i].innerText = label;
                } else if (parameter.childNodes[i].className === "qhana-input-description" && description !== null) {
                    parameter.childNodes[i].childNodes[1].innerText = description;
                }
            }
        }

        function update_check_all_box_indeterminate() {
            let wrapper = this.parentNode.parentNode.parentNode.parentNode;
            let check_all_box = wrapper.children[1].children[0];

            if (!check_all_box.indeterminate) {
                check_all_box.indeterminate = (this.checked !== check_all_box.checked);
            }
        }

        function check_all_box_change() {
            let wrapper = this.parentNode.parentNode;
            let check_box_list = wrapper.children[2];
            let checked_value = this.checked;
            //iterate through li elements
            for (let box of check_box_list.children) {
                // Set checked status
                box.children[0].children[0].checked = checked_value;
            }
        }

        function give_checkboxes_functionality(check_box_list, check_all_box) {
            check_box_list.querySelectorAll("input").forEach(box => {
                box.addEventListener("change", update_check_all_box_indeterminate);
            });

            check_all_box.addEventListener("change", check_all_box_change);
        }

        function add_checklist_to_element(element, check_list, default_no_children = 1) {
            if (element.children.length > default_no_children) {
                if (default_no_children > 0) {
                    let last_default_child = element.children[default_no_children - 1];
                    while (last_default_child.nextSibling) {
                        last_default_child.nextSibling.remove();
                    }
                } else {
                    element.innerHTML = "";
                }
            }
            element.insertAdjacentHTML('beforeend', check_list);
            if (element.children.length >= default_no_children + 2) {
                give_checkboxes_functionality(element.children[default_no_children + 1], element.children[default_no_children].children[0]);
            }
        }

        function save_subset_checklist() {
            const subset_wrapper = subset_val.parentNode;
            if (subset_wrapper.children.length > 1) {
                let check_box_list = subset_wrapper.children[2];
                let columns_list_arr = [];
                check_box_list.querySelectorAll("input").forEach(box => {
                    if (box.checked) {
                        columns_list_arr.push(box.name);
                    }
                });
                subset_val.value = JSON.stringify(columns_list_arr);
            } else {
                subset_val.value = JSON.stringify([]);
            }
        }

        function load_subset_checklist() {
            if (subset_val.value !== "") {
                JSON.parse(subset_val.value).forEach(entry => {
                    document.getElementById(entry).checked = true;
                });
            }
        }

        function set_subset_checklist(columns_or_rows) {
            subset_val.style.display = "none";
            if (columns_or_rows === "columns") {
                add_checklist_to_element(subset_val.parentNode, columns_and_rows_html["columns"]);
            } else if (columns_or_rows === "rows") {
                add_checklist_to_element(subset_val.parentNode, columns_and_rows_html["rows"]);
            } else {
                add_checklist_to_element(subset_val.parentNode, "");
            }
        }

        function axis_change() {
            let subset_name = "columns"
            if (axis_val.value === "columns") {
                subset_name = "rows"
            }
            set_subset_checklist(subset_name);
            save_subset_checklist();
        }

        function preprocessing_enum_change() {
            axis_dis.style.display = "none";
            threshold_dis.style.display = "none";
            subset_dis.style.display = "none";
            fill_value_dis.style.display = "none";
            keep_dis.style.display = "none";
            ignore_index_dis.style.display = "none";
            by_dis.style.display = "none";
            ascending_dis.style.display = "none";
            position_dis.style.display = "none";
            characters_dis.style.display = "none";
            column_dis.style.display = "none";
            new_columns_dis.style.display = "none";
            remove_column_dis.style.display = "none";
            substring_dis.style.display = "none";
            new_str_dis.style.display = "none";
            case_dis.style.display = "none";

            if (preprocessing_enum_value.value === "drop_na") {
                axis_dis.style.display = "block";
                threshold_dis.style.display = "block";
                subset_dis.style.display = "block";
                change_parameter(subset_dis, null, "Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.");
                axis_change();
            } else if (preprocessing_enum_value.value === "fill_na") {
                fill_value_dis.style.display = "block";
            } else if (preprocessing_enum_value.value === "drop_duplicates") {
                subset_dis.style.display = "block";
                change_parameter(subset_dis, null, "Only consider certain columns for identifying duplicates, by default use all of the columns.");
                set_subset_checklist("columns");
                keep_dis.style.display = "block";
                ignore_index_dis.style.display = "block";
            } else if (preprocessing_enum_value.value === "sort_values") {
                by_dis.style.display = "block";
                by_val.setAttribute("list", "columns_datalist");
                change_parameter(by_dis, "Column", "Column to sort by.");
                ascending_dis.style.display = "block";
            } else if (preprocessing_enum_value.value === "strip_entries") {
                position_dis.style.display = "block";
                characters_dis.style.display = "block";
                subset_dis.style.display = "block";
                change_parameter(subset_dis, null, "Only strip entries in certain columns, by default use all of the columns.");
                set_subset_checklist("columns");
            } else if (preprocessing_enum_value.value === "split_column") {
                column_dis.style.display = "block";
                by_dis.style.display = "block";
                by_val.removeAttribute("list");
                change_parameter(by_dis, "Split-String", "String that splits the column, e.g. the entry 'John, Doe' and the Split-String ', ' result in the two entries 'John' and 'Doe'.");
                new_columns_dis.style.display = "block";
                remove_column_dis.style.display = "block";
            } else if (preprocessing_enum_value.value === "replace") {
                substring_dis.style.display = "block";
                new_str_dis.style.display = "block";
                subset_dis.style.display = "block";
                change_parameter(subset_dis, null, "Only replace substrings of entries in certain columns, by default use all of the columns.");
                set_subset_checklist("columns");
            } else if (preprocessing_enum_value.value === "string_case") {
                case_dis.style.display = "block";
                subset_dis.style.display = "block";
                change_parameter(subset_dis, null, "Only change the case of entries in certain columns, by default use all of the columns.");
                set_subset_checklist("columns");
            }
        }

        column_val.setAttribute("list", "columns_datalist");

        preprocessing_enum_change();
        preprocessing_enum_value.addEventListener("change", preprocessing_enum_change);
        load_subset_checklist();
        axis_val.addEventListener("change", axis_change);
        qhana_buttons.addEventListener("click", save_subset_checklist);
    </script>
    {{ super() }}
{% endblock script %}
