{% extends "simple_template.html" %}

{% block head %}
    {{ super() }}
    <!-- required viewer styles -->
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@9.0.3/dist/assets/bpmn-js.css">

    <!-- viewer distro (with pan and zoom) -->
    <script src="https://unpkg.com/bpmn-js@9.0.3/dist/bpmn-navigated-viewer.development.js"></script>

    <style>
        #canvas {
            height: 25rem;
        }
    </style>
{% endblock head %}

{% block content %}
    <div id="canvas"></div>

    {{ super() }}
{% endblock content %}

{% block script %}
    {{ super() }}

    <script>

    // viewer instance
    var bpmnViewer = new BpmnJS({
        container: '#canvas'
    });

    var workflow_xml = {{workflow_xml|tojson}};

    // import diagram
    try {
        if (workflow_xml) {
            bpmnViewer.importXML(workflow_xml).then(() => {

                // access viewer components
                var canvas = bpmnViewer.get('canvas');

                canvas.zoom('fit-viewport');
            });
        }
        // TODO: show error message to user for else case...
    } catch (err) {
        console.error('could not import BPMN 2.0 diagram', err);
    }
    </script>

{% endblock script %}
