{% extends "simple_template.html" %}

{% block script %}
<script>
    var noise_vis = document.getElementById("noise").parentNode.parentNode;
    var turns_vis = document.getElementById("turns").parentNode.parentNode;
    var centers_vis = document.getElementById("centers").parentNode.parentNode;
    var dataset_type = document.getElementById("dataset_type");

    function dataset_type_change() {
        console.log("data_type_change");
        noise_vis.style.display = 'none';
        turns_vis.style.display = 'none';
        centers_vis.style.display = 'none';
        if (dataset_type.value === "two_spirals") {
            noise_vis.style.display = 'block';
            turns_vis.style.display = 'block';
        }
        if (dataset_type.value === "blobs" || dataset_type.value === "blobs_3d") {
            centers_vis.style.display = 'block';
        }
    }

    dataset_type.addEventListener("change", dataset_type_change);
</script>
{{ super() }}
{% endblock script %}
