{% extends "simple_template.html" %}

{{ super() }}

{% block script %}
<script>
    const backend_val = document.getElementById("backend");

    const ibmq_token_dis = document.getElementById("ibmq_token").parentNode.parentNode;
    const custom_backend_dis = document.getElementById("custom_backend").parentNode.parentNode;

    function backend_change() {
        ibmq_token_dis.style.display = "none";
        custom_backend_dis.style.display = "none";
        if ((backend_val.value.startsWith("ibmq")) || (backend_val.value === "aer_qasm_simulator")){
            ibmq_token_dis.style.display = "block";
        }
        else if (backend_val.value === "custom_ibmq") {
            ibmq_token_dis.style.display = "block";
            custom_backend_dis.style.display = "block";
        }
    }


    backend_change();
    backend_val.addEventListener("change", backend_change);
</script>
{{ super() }}
{% endblock script %}
