{% import 'forms.html' as forms %}

<html>

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='forms.css')}}" media="screen" />
    {% endblock head %}
</head>

<body>
    {% block content %}
    <div class="qhana-microfrontend">
        {% block help %}
        {% if help_text or example_values %}
        <details class="qhana-help">
            <summary>Help</summary>
            {% if help_text %}
            {% autoescape false %}
            {{help_text | markdown}}
            {% endautoescape %}
            {% else %}
            <br>
            {% endif %}
            {% if example_values %}
            <a href="{{example_values}}">Fill in example values.</a>
            {% endif %}
        </details>
        {% endif %}
        {% endblock help %}
        {% call forms.render_form(target="microfrontend") %}
        {{ forms.render_fields(schema, values=values, errors=errors) }}
        <div class="qhana-form-buttons">
            {{ forms.submit("validate", target="microfrontend")}}
            {{ forms.submit("submit", action=process)}}
            {% if done %}
            {{ forms.submit("done", action=done)}}
            {% endif %}
        </div>
        {% endcall %}
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{{url_for('static', filename='microfrontend.js')}}"></script>
    {% endblock script %}

</body>

</html>
