<div class="titlebar planqk">
    <a class="home" href="/">Pattern Atlas</a>
    <a href="https://platform.planqk.de/my-content" aria-label="Go to the PlanQK platform."><img class="planqk-logo" src="{{'https://platform.planqk.de/img/PlanQK_Logo_Weiss_Beta_Version.83a24bcf.svg' | resource}}"></a>
</div>
