{% extends "simple_template.html" %}

{% block head %}
{{ super() }}
<style>
    /* TODO */
    textarea#input_sql {
        min-height: 6lh;
        field-sizing: content;
    }

    .suggestion-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    .suggestion-chip {
        border-radius: 500px;
        border: none;
        padding-block: 0.3em;
        padding-inline: 0.8em;
    }
</style>
{% endblock head %}

{% block content %}
<div>
    <div>TODO: Input Selection</div>
    <form id="form_sql" action="" method="post" data-target="check" class="qhana-form" enctype="multipart/form-data">
        <div class="qhana-form-field">
            <label class="qhana-form-label" for="input_sql">SQL Command</label>
            <div class="qhana-input-wrapper">
                <textarea class="qhana-form-input" name="sql" id="input_sql" autocomplete="off" aria-describedby="input_sql-description" required spellcheck="false"></textarea>
            </div>
            <div id="input_sql-description" class="qhana-input-description">
                <p>
                    Execute an SQL Command using the DuckDB SQL Enging.
                    Consult the <a target="_blank" referrerpolicy="no-referrer" href="https://duckdb.org/docs/stable/sql/introduction#querying-a-table">DuckDB manual</a> for more information.
                </p>
            </div>
            <div class="suggestion-list">
                <button class="suggestion-chip" data-suggestion="DESCRIBE ">DESCRIBE …</button>
                <button class="suggestion-chip" data-suggestion="SELECT * FROM ">SELECT</button>
                <button class="suggestion-chip" data-suggestion="SELECT DISTINKT * FROM ">SELECT DISTINCT</button>
                <button class="suggestion-chip" data-suggestion="read_csv('http://') AS table_a">read_csv(…)</button>
                <button class="suggestion-chip" data-suggestion="read_json('http://') AS table_a">read_json(…)</button>
                <button class="suggestion-chip" data-suggestion="USING SAMPLE 10">SAMPLE</button>
                <button class="suggestion-chip" data-suggestion="INNER JOIN  ON  = ">JOIN (matching only)</button>
                <button class="suggestion-chip" data-suggestion="LEFT OUTER JOIN  ON  = ">JOIN (keep left)</button>
                <button class="suggestion-chip" data-suggestion="WHERE ">WHERE</button>
                <button class="suggestion-chip" data-suggestion="ORDER BY ">ORDER BY</button>
                <button class="suggestion-chip" data-suggestion="DESC">DESC</button>
                <button class="suggestion-chip" data-suggestion="LIMIT 10">LIMIT</button>
            </div>
        </div>
        <div class="qhana-form-buttons">
            <button class="qhana-form-submit" type="submit" data-target="check">check sql</button>
            <button class="qhana-form-submit" type="submit" data-target="preview">try out</button>
            <button class="qhana-form-submit" type="submit" data-target="api" formaction="{{process}}">submit</button>
        </div>
    </form>
    <div>TODO: SQL Help</div>
    <div>TODO: Output Preview</div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}

<script>
    function customSubmitHandler(event) {
        const form = event.target;
        const submitter = event.submitter;
        let submitTarget = submitter.getAttribute("data-target") || form.getAttribute("data-target");
        console.log("SUBMIT", submitTarget);
        if (submitTarget === "check") {
            // TODO implement
            event.preventDefault();
            return true;
        }
        if (submitTarget === "preview") {
            // TODO implement
            event.preventDefault();
            return true;
        }
        return false; // event not handled, use default handling
    }

    function onSuggestionClick(event) {
        event.preventDefault();

        /** @type {HTMLButtonElement} */
        const button = event.target;
        const suggestion = button.dataset.suggestion;

        /** @type {HTMLTextAreaElement} */
        const sqlInput = document.querySelector("textarea#input_sql");

        if (suggestion) {
            sqlInput.focus();
            sqlInput.setRangeText(suggestion, sqlInput.selectionStart, sqlInput.selectionEnd, "end");
        }
    }

    if (window._qhana_microfrontend_state != null) {
        window._qhana_microfrontend_state.formSubmitHandler = customSubmitHandler;
    } else {
        document.querySelector("form#form_sql").addEventListener("submit", customSubmitHandler);
    }

    document.querySelectorAll("button[data-suggestion]").forEach(button => {
        button.addEventListener("click", onSuggestionClick);
    });
</script>

{% endblock script %}
